body {
    background-color: #F2F2F2;  
    text-align: center;  
  }

  h1, .subhead {
    font-family: 'Gill Sans';
    text-align: center;
    color: azure;
  }

  /* Banner Section */
.banner {
    margin-top: 74px;
    padding: 40px 0 100px 0;
    background-color: #4D00FF;
  }

