body {
  background-color: rgb(208, 219, 219);  
  text-align: center;
  font-family: 'Titillium Web', sans-serif;  
}

h1, .subhead {
  text-align: center;
  color: rgb(221, 240, 240);
  letter-spacing: 2px;
}

/* Banner Section */
.banner {
  margin-top: 0px;
  padding: 20px 0px 40px 0;
  background-color:rgb(5, 31, 117);
}

.wagerhead {
  text-align: left;
  color: rgb(24, 23, 23);
  padding: 5px 0 5px 5px;
  background-color: rgb(237, 245, 245);
}

.wagerchoice {
  text-align: left;
  color: rgb(24, 23, 23);
  width: 500px;
  padding: 20px 100% 100px 20px;
  background: dodgerblue linear-gradient(45deg, aqua, dodgerblue, rgb(5, 31, 117)) fixed;
  
}

#TeamLogo {
  float: left;
  margin-right: 15px;
  border: 2px solid rgb(5, 31, 117);
  opacity: 0.95;
}

.result {
  text-align: right;
}
